<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>My Website</h1>
    </header>
    <main>
        <h2>Welcome to my home page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum quam et luctus fringilla. Donec sit amet purus non est tincidunt pharetra. Integer sed risus et risus dapibus vestibulum. Donec ultrices enim nec velit aliquet, eu tincidunt dolor finibus. Suspendisse ultrices purus quis odio pulvinar consectetur. Curabitur ac efficitur nisi. Etiam sagittis suscipit sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean scelerisque molestie quam, at ultricies massa feugiat eu.</p>
        <button>Learn more</button>
    </main>
</body>
</html>